{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">About</h2>
            Simple paste app similar to pastebin.
            Made with the PHP framework <a href="https://www.slimframework.com/">slim</a>.
            Uses <a href="https://highlightjs.org/">highlightjs</a> for syntax highlighting.
        </div>
    </section>
{% endblock %}