{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            <h2 class="title is-2">API</h2>
            <h4 class="subtitle has-text-centered">POST /paste</h4>
            <p>Create new post. </p>
            <p>Example Request Body:</p>
            <pre>
                <code>
{
       "data": {
           "paste": "class MyClass { ... }",
           "syntax": "php",
           "title": "REST api test"
           }
}
                </code>
            </pre>
            <p>Example Response Body:</p>
            <pre>
                <code>
{
    "data": {
        "type": "link",
        "id": "1n",
        "attributes": {
            "url": "localhost:8080/p/1n"
        }
    }
}
                </code>
            </pre>
        </div>
    </section>
{% endblock %}