{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">

            <h1 class="title is-1 has-text-centered">Pastebox</h1>
            <br/>
            <form action="{{ path_for('createPaste') }}" method="post">

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Title</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="title">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Syntax</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" name="syntax">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Paste</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">

                                <textarea class="textarea" name="paste" placeholder="Hello World" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </section>
{% endblock %}