{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="hero is-light is-medium">
        <div class="hero-body">
            <div class="container">
                {% if link %}
                    <a href="http://{{ link }}"><p class="has-text-centered is-size-1">{{ link }}</p></a>
                    <p class="has-text-centered is-size-5">Visit the link above to show your new paste. </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}