{% extends 'base-templates/main-template.twig' %}

{% block content %}
    <section class="section">
        <div class="container">
            {% if link %}
                <h3 class="title is-3">Paste created!</h3>
                Link: <strong><a href="http://{{ link }}">{{ link }}</a></strong>
            {% endif %}
        </div>
    </section>
{% endblock %}