{% extends 'base-templates/main-template.twig' %}

{% block content %}
    {% if link %}
        <h3>Paste created!</h3>
        Link: <strong><a href="http://{{ link }}">{{ link }}</a></strong>
    {% endif %}
{% endblock %}