<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>pasteApp</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="stylesheet" href="/css/mainstyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles/dracula.css">
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
{% include 'base-templates/navigation.twig' %}
{% block content %}

{% endblock %}
{% if notification %}
    <div class="notification">
        <button class="delete"></button>
        <p>{{ notification }}</p>
    </div>
{% endif %}
</body>
</html>
