<nav class="navbar">
    <div class="nav-center">
        <a class="navbar-item" href="{{ path_for('home') }}">Home</a>
        <a class="navbar-item" href="{{ path_for('showPastes') }}">Pastes</a>
        <a class="navbar-item" href="{{ path_for('showAPI') }}">API</a>
    </div>
</nav>
